@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Teko&display=swap');
body, html {
  height: 100%;
  -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
  /*font-family: 'Oranienbaum', serif;*/
  font-family: 'Teko', sans-serif;
}
.content {
  min-height: 100%;
	display: grid;
  /*grid-template-rows: 80px minmax(min-content, 1fr) 1fr minmax(auto, auto);*/
  grid-template-rows: 80px auto minmax(auto, min-content);
}
.text-index {
  /*border: #000 solid;*/
  margin: 20px auto 40px auto;
  padding: 0 5% 0 5%;
  font-family: 'Montserrat', sans-serif;
  max-width: 1500px;
}
.text-index  h3 {
  text-align: center;
  margin-bottom: 20px;
}
.text-index p {
  text-align: justify;
  font-size: 20px;
}
@media (max-width: 800px) {
  .text-index p {
    font-size: 14px;
  }
}

/*============== MENU ================*/
nav {
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.navbar-nav {
  letter-spacing: 1px;
}
.bg-dark {
  background-color: #000 !important;
}
.navbar-brand img {
  width: 100px;
}